body {
  display: grid;
  min-height: 100vh;
  grid-template: auto 1fr / 280px 1fr;

}

.header {
  grid-area: 1 / 2 / 2 / 3;
  
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;

}

.mainContent {
  grid-area: 2 / 2 / 3 / 3;
  
}

svg {
  font-size: 3px;
}